<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; background-color: #fafafa;">
    <h1>Login</h1>
    <mat-form-field color="primary" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email">
    </mat-form-field>
    <mat-form-field color="primary" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password">
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="primary" routerLink="/auth/register">Register</button>
</div>