<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #fafafa; min-height: 50vh; padding-top: 100px;">
    <h1>Adoption Applications</h1>
    
    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let app of applications" mat-card-xl-image>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Application
                </mat-panel-title>
                <mat-panel-description>
                    {{ app.adopter.name }} - {{ app.pet.name }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-adoption-application [application]="app" ></app-adoption-application>
        </mat-expansion-panel>
    </mat-accordion>

    <br>

    <!-- <button (click)="addShelter()" mat-raised-button color="primary">Add Shelter</button> -->

</div>